html {
  position: relative;
}

body {
  margin-bottom: 71px;
  background-image: linear-gradient(80deg, rgb(71, 132, 213), rgb(80, 207, 191), rgb(80, 123, 207), rgb(80, 207, 127));
}
.jumbotron{
  height: 444px!important;
  background-image: url('seo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
  overflow: hidden;
  font-family: 'Pacifico', cursive;
  letter-spacing: 10px;
}
.middle {
  margin-top: 100px;
  text-shadow: 3px 3px 5px #000;
}
.overlay {
  position: unset;
  display: table;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom : 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.bg-dark {
  background-image: linear-gradient(80deg, rgb(168, 200, 205), rgb(130, 171, 177))!important;
  opacity: .95;
}
.navbar .navbar-brand, .navbar .nav-link{
  color: white!important
}
hr{
  width: 250px;
  border: 1px dashed white;
}
#about .half-rule{
  width: 250px;
  border: 1px dashed black!important;
}

section{
  min-height: 400px;
  background-color: rgb(238, 238, 238, .9);
}
.profile {
  color: white;
}
.profile h1 {
  opacity: 0;
  transform: translate(0, -40px);
  transition: .5s;
}
.profile h1.muncul{
  opacity: 1;
  transform: translate(0,0);
}
.profile p {
  opacity: 0;
  transform: translate(0, -40px);
}
.profile p.muncul{
  opacity: 1;
  -webkit-transition-duration: 1.5s;
  transition-duration: : 1.5s;
  transition-timing-function: ease-out;
  transform: translate(0, 0);
}
.profile img {
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
  opacity: 0;
  transition: 1.5s;
  transform: translate(0, -40px);
}
.profile img.muncul {
  opacity: 1;
  transform: translate(0,0);
}
h1.h1, h1, .profile p {
  font-family: 'Acme', sans-serif;
}

.contact {
  color: white;
  min-height: 800px;
  background-color: rgb(0, 50, 71,.95);
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: rgb(36, 37, 38);
}
footer a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
  padding-top: 10px;
}

footer a:hover {
  color: white;
  text-decoration: none;
}
